*, *:before, *:after {
    box-sizing: inherit;
}

element.style {
	text-align: center;
}

body {
    background: Black;
	display: block;
}

body, button, input, select, textarea {
    line-height: 1.6;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}

}
html {
    overflow-y: scroll;
}

div {
	display: block;
}

a:-webkit-any-link {
	cursor: pointer;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

ul {
	display: block;
	list-style: disc;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul, ol {
	margin: 0 0 1.6em 1.6em;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

p:last-child {
	margin-bottom: 0;
}

h2 {
	font-weight: 400;
    font-size: 25px;
    margin-bottom: .5em;
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {
	font-size: 20px;
    -webkit-margin-before: 0.8em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: "Gill Sans", sans-serif;
    clear: both;
}

.no-sidebar .site {
	max-width: 1000px;
}

.site {
	margin: auto;
	padding-right: 2%;
    padding-left: 2%;
}

.comment-meta:before, .comment-meta:after, .entry-meta:before, .entry-meta:after, .footer-widget-area:before, .footer-widget-area:after, .hentry:after, .main-navigation>ul:before, .main-navigation>ul:after, .site-main:before, .site-main:after, .subordinate-navigation ul:before, .subordinate-navigation ul:after, .testimonials:before, .testimonials:after, .front-testimonials:before, .front-testimonials:after, .testimonials .hentry:before, .testimonials .hentry:after, .clear:before, .clear:after, [class*=area]:before, [class*=area]:after, [class*=content]:before, [class*=content]:after, .post-navigation:before, .post-navigation:after, .posts-navigation:before, .posts-navigation:after, [class*=site]:before, [class*=site]:after, .entry-author:before, .entry-author:after {
    content: "";
}

.comment-meta:after, .entry-meta:after, .footer-widget-area:after, .main-navigation ul:after, .site-main:after, .subordinate-navigation ul:after, .testimonials:after, .front-testimonials:after, .testimonials .hentry:after, .clear:after, [class*=area]:after, [class*=content]:after, .posts-navigation:after, .post-navigation:after, [class*=site]:after, .entry-author:after {
    clear: both;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	left: -1000em;
}

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after, .nav-links:before, .nav-links:after {
    table-layout: fixed;
}

.site-branding, .site-navigation {
    padding-right: 2%;
    padding-left: 2%;
}

.site-branding {
    background: #fff;
    padding: 2.5em 0;
	text-align: center;
}

.site-title {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 1;
	margin: 0;
	padding-bottom: 5px;
}

.site-description {
    color: #a8a6a1;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 1em;
}

.site-description:before, .site-description:after {
	display: inline;
	content: " - ";
}

.jetpack-social-navigation {
    clear: both;
	list-style: none;
    margin: 0 auto;
    padding: 0;
}

.site-header .jetpack-social-navigation ul {
    margin: 0 !important;
}

.jetpack-social-navigation ul {
    display: block;
	margin: 0 0 1.5em;
    padding: 0;
}

.jetpack-social-navigation ul li {
	display: inline-block;
    background: DarkRed;
    color: #fff;
    font-size: 15px;
    list-style: none;
    line-height: .5;
    margin: .2em .1em;
    padding: 10px;
    border-radius: 50%;
}

.jetpack-social-navigation ul a, .jetpack-social-navigation ul a:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: color .2s;
}

.jetpack-social-navigation a {
    border: 0;
    height: 1em;
    width: 1em;
}

.jetpack-social-navigation-svg .icon {
    color: inherit;
    fill: currentColor;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}

.menu-item-11:hover, .menu-item-12:hover, .menu-item-13:hover, .menu-item-14:hover {
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.site-content, .attachment.page .site-content {
    background-color: #fff;
    padding: 1.5em 5%;
}

.hentry {
    position: relative;
    word-wrap: break-word;
}

.hentry:after, .page-header:after {
    background: #f2f2f2;
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
}

.entry-summary, .entry-content {
    margin: 0 0 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
    margin: 1em auto;
}

img {
    max-width: 100%;
    height: auto;
}

#detail {
	box-shadow: 5px 5px 5px 5px black;
}

.detail ul {
	padding: 15px;
}

.contact {
	padding: 50px 5px 5px 5px;
	text-align: center;
	line-height: 1.5;
	font-size: 10px;
}

.contact h5 {
	font-style: normal;
	font-weight: 400;
    -webkit-margin-before: 1.7em;
    -webkit-margin-after: 1.7em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

@media only screen and (min-width: 700px) {
	.car {
		width: 700px;
	}
}